[submodule "Source/CPU"]
	path = Source/CPU
	url = https://github.com/zjwzhkd/CPU.git
	branch = cpu-stm32f1
[submodule "Source/Scheduler"]
	path = Source/Scheduler
	url = https://github.com/zjwzhkd/Scheduler.git
	branch = master
